.sensory-textbox > p {
  margin: 0.7rem auto;
  font-weight: bold;
}

.physicalTherapySection {
  height: 80vh;
  background-color: #bc756a;
  margin: 0 0 5rem 0;
  @media (max-width: 768px) {
    height: fit-content;
  }
}

.physicalTherapyContainer {
  width: 40%;
  margin: 0 auto;
  padding: 5rem 0;
  @media (max-width: 768px) {
    width: 80%;
  }
}

.textbox-physicalTherapy {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.physicalTherapyHeaderDiv {
  margin-right: 3rem;
  position: relative;
  padding: 4rem;
  z-index: 1;
  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.physicalTherapyHeaderDiv::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0.7rem;
  left: 0.6rem;
  width: 8.68rem;
  height: 6.96rem;
  border: 0.2rem solid #ce9479;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ce9479;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .physicalTherapyHeaderDiv::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0.27rem;
    width: 8.68rem;
    height: 6.96rem;
    border: 0.2rem solid #ce9479;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ce9479;
    font-size: 3rem;
    color: white;
    font-weight: bold;
  }
}

.physicalTherapyHeaderDiv > p {
  font-size: 0.9rem;
  margin: 1rem 0;
  color: white;
  @media (max-width: 768px) {
    margin: 0;
  }
}
.physicalTherapyHeaderDiv > img {
  position: absolute;
  top: 7.68rem;
  left: 19.38rem;

  @media (max-width: 768px) {
    top: -0.4rem;
    left: 12.92rem;
  }
}
.physicalTherapyHeaderDiv > h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  color: #f2d499;
  @media (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: bold;
    color: #f2d499;
  }
}

.textbox-physicalTherapy {
  border-top: 0.2rem solid #f2d499;
  padding-top: 3rem;
  line-height: 2rem;
  color: white;
}

.firstleftdivphysicaltherapytextbox {
  margin: 1rem 0;
  color: #f2d499;
}

.rightdivphysicaltherapytextbox > ul {
  list-style-image: url("../../assets/Services/Icons/Arrow_Bullet_point.svg");
}

.rightdivphysicaltherapytextbox > ul > li {
  margin: 1rem 0;
}

.photocontainerphysical {
  position: relative;
  z-index: 0;
}
.OccupationalContainer {
  margin: 3.68rem auto;
  @media (max-width: 768px) {
    margin: 3rem auto;
  }
}

.sunlogo {
  position: absolute;
  z-index: 2;
  top: 9.28rem;
  left: 97rem;
  @media (max-width: 768px) {
    display: none;
  }
}

.kidspic {
  position: absolute;
  z-index: -1;
  top: -3.04rem;
  left: 32rem;
  @media (max-width: 768px) {
    display: none;
  }
}

/* @media (max-width: 768px) {
    
  } */
.hands {
  @media (max-width: 768px) {
    margin-left: -3.6rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                              Speech Swallowing                             */
/* -------------------------------------------------------------------------- */
.speechSwallowingContainer {
  width: 50%;
  margin: 2rem auto;
  @media (max-width: 768px) {
    width: 90%;
  }
}

.speechSwallowing {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.speechHeader {
  margin: 5rem auto;
  position: relative;
}

.speechHeaderText1 > p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: #bc756a;
  @media (max-width: 768px) {
    margin: 0;
  }
}

.speechHeaderText1 > h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  color: #bc756a;
  @media (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: bold;
    color: #bc756a;
  }
}

.speechHeader::before {
  content: "";
  z-index: -5;
  position: absolute;
  top: -1.2rem;
  left: -1rem;
  width: 8.68rem;
  height: 6.96rem;
  border: 0.2rem solid #f2d499;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2d499;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .speechHeader::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: -3rem;
    left: -0.8rem;
    width: 8.68rem;
    height: 6.96rem;
    border: 0.2rem solid #f2d499;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2d499;
    font-size: 3rem;
    color: white;
    font-weight: bold;
  }
}

.speechHeaderText2 > p {
  margin: 0.7rem auto;
  font-weight: light;
}

/* ---------------------------------- Image --------------------------------- */

.speechSwallowingImg {
  position: relative;
}

.speechSwallowingImg::before {
  position: absolute;
  content: "";
  z-index: -1;
  bottom: -1.7rem;
  right: -3.5rem;
  background-image: url(/src/assets/Services/Icons/011.svg);
  background-size: cover;
  width: 13rem;
  height: 13rem;
}

@media screen and (max-width: 768px) {
  .speechSwallowingImg::before {
    display: none;
  }
}

/* Entertainment */

/* ------------------------------ Entertainment ----------------------------- */

.entertainmentContainer {
  position: relative;
  width: 70%;
  margin: 5rem auto;
  background-color: #f7e3bd;
  padding: 3rem;
  border-radius: 7rem;
  padding-left: 4rem;

  @media (max-width: 768px) {
    width: 90%;
    padding: 2rem;
  }
}

.entertainmentContainer::before {
  content: "02"; /* The text to display */
  z-index: 100;
  position: absolute; /* Positioning relative to the Intervention div */
  top: -41px;
  left: -4.5rem;
  width: 12.5rem;
  height: 7.5rem;
  border: 0.2rem solid #f2d499; /* Border of the square */
  border-radius: 1rem; /* Rounded corners */
  display: flex; /* To center the content */
  align-items: center; /* Align content vertically */
  justify-content: center; /* Align content horizontally */
  background-color: #f2d499; /* Background color of the square */
  font-size: 3rem; /* Font size of the text */
  color: white; /* Text color */
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .entertainmentContainer::before {
    top: -1.6rem;
    left: 0.4rem;
    width: 9.2rem;
    height: 5.5rem;
  }
}

@media (max-width: 768px) {
  .entertainmentContainer {
    width: 90%;
    margin: 5rem auto;
  }
}

.leftBoxEntertainment {
  position: relative;
}

.leftBoxEntertainment > img {
  position: absolute;
  @media (max-width: 768px) {
    display: none;
  }
}

.leftBoxEntertainment > img:first-child {
  right: -6.25rem;
  top: -8.875rem;
}
.leftBoxEntertainment > img:nth-child(2) {
  right: 0;
  top: -9.375rem;
}
.leftBoxEntertainment > img:nth-child(3) {
  right: 0;
  top: -11.125rem;
}

.rightBoxEntertainment {
  margin: 2rem auto;
}

.entertainmentHeader h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  color: #566c5c;
  @media (max-width: 768px) {
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    color: #566c5c;
  }
}

.entertainmentHeader p {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #566c5c;
  @media (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: #566c5c;
  }
}

.rightBoxEntertainment > p {
  margin: 2rem auto;
  @media (max-width: 768px) {
    margin: 1rem auto;
  }
}

.handsOnActivities {
  margin: 7rem auto;
  @media (max-width: 768px) {
    margin: 3rem auto;
  }
}

/* ---------------------------- Pictures Section ---------------------------- */

.divforpictures {
  margin-bottom: 30rem;
}

.containerForPicture {
  position: relative;
  width: 50%;
  margin: 5rem auto;
  padding: 3rem;
  border-radius: 7rem;
  padding-left: 4rem;

  @media (max-width: 768px) {
    width: 90%;
    padding: 2rem;
  }
}

.containerForPicture > img {
  position: absolute;
  @media (max-width: 768px) {
    top: -2.4375rem;
    left: 0;
  }
}

.textinPicture {
  background-color: #f7e3bd;
  position: absolute;
  top: 20.4375rem;
  left: 34rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 4rem;
  border-radius: 3rem;
  @media (max-width: 768px) {
    background-color: #f7e3bd;
    position: absolute;
    top: 10.625rem;
    left: 0;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 3rem;
  }
}

/* -------------------------- Natural Outdoor Space ------------------------- */
.NaturalOutdoorSpace {
  margin: 7rem auto;
}

.NaturalSpaceDivParent {
  height: 60vh;
  background-color: #f7e3bd;
  overflow: hidden;
  @media (max-width: 768px) {
    height: 140vh;
  }
}

.NaturalSpaceDivChild1 {
  width: 50%;
  margin: 0 auto;
}

.AllParent {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
  z-index: 0;
}

.AllParent > img {
  @media (max-width: 768px) {
    margin: 5rem auto;
  }
}

.TextParent {
  position: relative;
  color: #5f7766;
  z-index: -1;
}

.TextParent::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: -1.75rem; /* Changed from -28px */
  left: -1.5625rem; /* Changed from -25px */
  height: 4.625rem; /* Changed from 116px */
  width: 5.8125rem; /* Changed from 149px */
  border-radius: 2rem;
  background-color: #efbe90;
}

.TextParent > p {
  margin-top: 2rem;
  line-height: 1.9rem;
  @media (max-width: 768px) {
  }
}

.TextParent > h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: bold;
  }
}

.TextParent > h3 {
}

/* ------------------------------- Messy Play ------------------------------- */

.messyPlay {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5f7766;
}

.textsideMessyPlay > h3 {
  font-size: 0.9rem;
}
.textsideMessyPlay > h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: bold;
  }
}
.textsideMessyPlay > p {
  margin: 2rem auto;
}

.picturesSideMessyPlay {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
